<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candlefinance.push">
    <application>
        <service
            android:name=".PushFirebaseNotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>
</manifest>